.card {
    width: 190px;
    height: 254px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .card h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
  }
  .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      /* background-image: url("hero.png"); */
  }
  @media screen and (max-width:500px) {
      .container{
          width: 75%;
      }
      
  }
  
  .card::before {
    content: '';
    position: absolute;
    width: 100px;
    /* background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255)); */
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
  }  
  /* .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */
  
  
  body {
    text-align: center;
    padding: 70px 50px;
    background: black;
    font-family: 'Outfit', sans-serif;

   
    color:white;
  }
  p{
    letter-spacing: 0.5rem;
  }
  h1{
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: 0;
  }
   
  #timer {
    font-size: 3em;
    font-weight: 100;
    color: white;
    text-shadow: 0 0 20px #48c8ff;
    margin-top: 0;
  }
   
  #timer div {
    display: inline-block;
    min-width: 90px;
  }
   
  #timer div span {
    color: #b1cdf1;
    display: block;
    font-size: 0.35em;
    font-weight: 400;
  }
  .flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    margin-bottom: 1.25rem;
    padding: 1rem;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    /* transform: scale(1.2); */
    /* padding: 0.7rem; */

  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #49295C;
    border-radius: 1rem;
    padding: 1rem;
    color:white;
  }
  
  .flip-card-front {
    /* background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
       rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%); */
      
    
       
    /* color: #49295C; */
  }
  
  .flip-card-back {
    /* background: linear-gradient(120deg, rgb(255, 174, 145) 30%, #49295C 88%,
       bisque 40%, rgb(255, 185, 160) 78%); */
    color: white;
    transform: rotateY(180deg);
  }
  .card-holder{
    display: grid;
    margin-top: 7rem;
    padding-left: 5rem;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: row;
  }
  

  /* FOR TEXT COLORING EFFECT  */

  
.neon{
  /* font-family: 'Monoton', cursive; */
  /* font-size:130px; */
  color: #FFD5FF;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  /* font-weight: 400;
  letter-spacing: 8px; */
  text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		text-shadow: none;
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

